NEXT_PUBLIC_SUPABASE_URL=https://bwrpfoyesionlemgvopa.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XxOKQd9uf3GtJaUF3MN4iw_GRASWEkA

SUPABASE_SERVICE_ROLE_KEY=

# Add later if email notifications are implemented
EMAIL_API_KEY=